<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Server Node</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Server Node</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3e2101ad-b7ee-4e28-98da-c81a3de382de.png" alt="Server Node" usemap="#3e2101ad-b7ee-4e28-98da-c81a3de382demap"/>
			   <map name="3e2101ad-b7ee-4e28-98da-c81a3de382demap">
				  				<area shape="rect" coords="190,202,310,227" href="../elements/08yq14ql-R441-0441-G626-G62604410626.html"  target="element">
				  				<area shape="rect" coords="190,226,310,251" href="../elements/08yq14ql-S441-0441-G658-G65804410658.html"  target="element">
				  				<area shape="rect" coords="190,94,310,119" href="../elements/08yq14ql-M441-0441-G471-G47104410471.html"  target="element">
				  				<area shape="rect" coords="190,46,310,71" href="../elements/08yq14ql-I441-0441-G429-G42904410429.html"  target="element">
				  				<area shape="rect" coords="190,124,310,149" href="../elements/08yq14ql-M441-0441-G479-G47904410479.html"  target="element">
				  				<area shape="rect" coords="190,178,310,203" href="../elements/08yq14ql-M441-0441-G490-G49004410490.html"  target="element">
				  				<area shape="rect" coords="190,70,310,95" href="../elements/08yq14ql-M441-0441-G463-G46304410463.html"  target="element">
				  				<area shape="rect" coords="190,154,310,179" href="../elements/08yq14ql-M441-0441-G485-G48504410485.html"  target="element">
				  				<area shape="rect" coords="34,226,154,251" href="../elements/08yq14ql-C541-0541-G352-G35205410352.html"  target="element">
				  				<area shape="rect" coords="34,70,154,95" href="../elements/08yq14ql-A441-0441-G163-G16304410163.html"  target="element">
				  				<area shape="rect" coords="34,94,154,119" href="../elements/08yq14ql-C441-0441-G243-G24304410243.html"  target="element">
				  				<area shape="rect" coords="34,46,154,71" href="../elements/08yq14ql-A441-0441-G174-G17404410174.html"  target="element">
				  				<area shape="rect" coords="34,154,154,179" href="../elements/08yq14ql-C441-0441-G290-G29004410290.html"  target="element">
				  				<area shape="rect" coords="34,250,154,275" href="../elements/08yq14ql-S541-0541-G816-G81605410816.html"  target="element">
				  				<area shape="rect" coords="34,124,154,149" href="../elements/08yq14ql-C441-0441-G268-G26804410268.html"  target="element">
				  				<area shape="rect" coords="34,202,154,227" href="../elements/08yq14ql-C441-0441-G343-G34304410343.html"  target="element">
				  				<area shape="rect" coords="34,178,154,203" href="../elements/08yq14ql-C441-0441-G317-G31704410317.html"  target="element">

				  		<area shape="rect" coords="10,10,335,287" href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html"  target="element">
				  				<area shape="rect" coords="550,70,670,95" href="../elements/08yq14ql-A441-0441-G163-G16304410163.html"  target="element">
				  				<area shape="rect" coords="550,202,670,227" href="../elements/08yq14ql-C441-0441-G343-G34304410343.html"  target="element">
				  				<area shape="rect" coords="550,94,670,119" href="../elements/08yq14ql-C441-0441-G243-G24304410243.html"  target="element">
				  				<area shape="rect" coords="550,154,670,179" href="../elements/08yq14ql-C441-0441-G290-G29004410290.html"  target="element">
				  				<area shape="rect" coords="550,250,670,275" href="../elements/08yq14ql-S541-0541-G816-G81605410816.html"  target="element">
				  				<area shape="rect" coords="550,178,670,203" href="../elements/08yq14ql-C441-0441-G317-G31704410317.html"  target="element">
				  				<area shape="rect" coords="550,226,670,251" href="../elements/08yq14ql-C541-0541-G352-G35205410352.html"  target="element">
				  				<area shape="rect" coords="550,124,670,149" href="../elements/08yq14ql-C441-0441-G268-G26804410268.html"  target="element">
				  				<area shape="rect" coords="550,46,670,71" href="../elements/08yq14ql-A441-0441-G174-G17404410174.html"  target="element">
				  				<area shape="rect" coords="394,178,514,203" href="../elements/08yq14ql-M441-0441-G490-G49004410490.html"  target="element">
				  				<area shape="rect" coords="394,226,514,251" href="../elements/08yq14ql-S441-0441-G658-G65804410658.html"  target="element">
				  				<area shape="rect" coords="394,124,514,149" href="../elements/08yq14ql-M441-0441-G479-G47904410479.html"  target="element">
				  				<area shape="rect" coords="394,70,514,95" href="../elements/08yq14ql-M441-0441-G463-G46304410463.html"  target="element">
				  				<area shape="rect" coords="394,202,514,227" href="../elements/08yq14ql-R441-0441-G626-G62604410626.html"  target="element">
				  				<area shape="rect" coords="394,154,514,179" href="../elements/08yq14ql-M441-0441-G485-G48504410485.html"  target="element">
				  				<area shape="rect" coords="394,46,514,71" href="../elements/08yq14ql-I441-0441-G429-G42904410429.html"  target="element">
				  				<area shape="rect" coords="394,94,514,119" href="../elements/08yq14ql-M441-0441-G471-G47104410471.html"  target="element">

				  		<area shape="rect" coords="370,10,695,287" href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html"  target="element">
				  		<area shape="rect" coords="394,382,514,407" href="../elements/08yq14ql-S441-0441-G890-G89004410890.html"  target="element">
				  		<area shape="rect" coords="190,382,310,407" href="../elements/08yq14ql-S441-0441-G890-G89004410890.html"  target="element">
				          <area shape="rect" coords="190,442,514,522" href="../objects/c10abf00-cd3a-4cc4-959f-28de2d6b57d5.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
											    <td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-R441-0441-G626-G62604410626.html" target="element"> RA-5 </a> </td>
													    <td> <a href="../elements/08yq14ql-R441-0441-G626-G62604410626.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-S441-0441-G658-G65804410658.html" target="element"> SA-6 </a> </td>
													    <td> <a href="../elements/08yq14ql-S441-0441-G658-G65804410658.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-M441-0441-G471-G47104410471.html" target="element"> MA-4 </a> </td>
													    <td> <a href="../elements/08yq14ql-M441-0441-G471-G47104410471.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-I441-0441-G429-G42904410429.html" target="element"> IR-2 </a> </td>
													    <td> <a href="../elements/08yq14ql-I441-0441-G429-G42904410429.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-M441-0441-G479-G47904410479.html" target="element"> MA-5 </a> </td>
													    <td> <a href="../elements/08yq14ql-M441-0441-G479-G47904410479.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-M441-0441-G490-G49004410490.html" target="element"> MP-2 </a> </td>
													    <td> <a href="../elements/08yq14ql-M441-0441-G490-G49004410490.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-M441-0441-G463-G46304410463.html" target="element"> MA-2 </a> </td>
													    <td> <a href="../elements/08yq14ql-M441-0441-G463-G46304410463.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-M441-0441-G485-G48504410485.html" target="element"> MA-6 </a> </td>
													    <td> <a href="../elements/08yq14ql-M441-0441-G485-G48504410485.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C541-0541-G352-G35205410352.html" target="element"> CP-10 </a> </td>
													    <td> <a href="../elements/08yq14ql-C541-0541-G352-G35205410352.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-A441-0441-G163-G16304410163.html" target="element"> AT-4 </a> </td>
													    <td> <a href="../elements/08yq14ql-A441-0441-G163-G16304410163.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C441-0441-G243-G24304410243.html" target="element"> CA-7 </a> </td>
													    <td> <a href="../elements/08yq14ql-C441-0441-G243-G24304410243.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-A441-0441-G174-G17404410174.html" target="element"> AU-4 </a> </td>
													    <td> <a href="../elements/08yq14ql-A441-0441-G174-G17404410174.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C441-0441-G290-G29004410290.html" target="element"> CM-8 </a> </td>
													    <td> <a href="../elements/08yq14ql-C441-0441-G290-G29004410290.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-S541-0541-G816-G81605410816.html" target="element"> SC-18 </a> </td>
													    <td> <a href="../elements/08yq14ql-S541-0541-G816-G81605410816.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C441-0441-G268-G26804410268.html" target="element"> CM-4 </a> </td>
													    <td> <a href="../elements/08yq14ql-C441-0441-G268-G26804410268.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C441-0441-G343-G34304410343.html" target="element"> CP-9 </a> </td>
													    <td> <a href="../elements/08yq14ql-C441-0441-G343-G34304410343.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C441-0441-G317-G31704410317.html" target="element"> CP-3 </a> </td>
													    <td> <a href="../elements/08yq14ql-C441-0441-G317-G31704410317.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
											    <td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-A441-0441-G163-G16304410163.html" target="element"> AT-4 </a> </td>
													    <td> <a href="../elements/08yq14ql-A441-0441-G163-G16304410163.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C441-0441-G343-G34304410343.html" target="element"> CP-9 </a> </td>
													    <td> <a href="../elements/08yq14ql-C441-0441-G343-G34304410343.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C441-0441-G243-G24304410243.html" target="element"> CA-7 </a> </td>
													    <td> <a href="../elements/08yq14ql-C441-0441-G243-G24304410243.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C441-0441-G290-G29004410290.html" target="element"> CM-8 </a> </td>
													    <td> <a href="../elements/08yq14ql-C441-0441-G290-G29004410290.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-S541-0541-G816-G81605410816.html" target="element"> SC-18 </a> </td>
													    <td> <a href="../elements/08yq14ql-S541-0541-G816-G81605410816.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C441-0441-G317-G31704410317.html" target="element"> CP-3 </a> </td>
													    <td> <a href="../elements/08yq14ql-C441-0441-G317-G31704410317.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C541-0541-G352-G35205410352.html" target="element"> CP-10 </a> </td>
													    <td> <a href="../elements/08yq14ql-C541-0541-G352-G35205410352.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-C441-0441-G268-G26804410268.html" target="element"> CM-4 </a> </td>
													    <td> <a href="../elements/08yq14ql-C441-0441-G268-G26804410268.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-A441-0441-G174-G17404410174.html" target="element"> AU-4 </a> </td>
													    <td> <a href="../elements/08yq14ql-A441-0441-G174-G17404410174.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-M441-0441-G490-G49004410490.html" target="element"> MP-2 </a> </td>
													    <td> <a href="../elements/08yq14ql-M441-0441-G490-G49004410490.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-S441-0441-G658-G65804410658.html" target="element"> SA-6 </a> </td>
													    <td> <a href="../elements/08yq14ql-S441-0441-G658-G65804410658.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-M441-0441-G479-G47904410479.html" target="element"> MA-5 </a> </td>
													    <td> <a href="../elements/08yq14ql-M441-0441-G479-G47904410479.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-M441-0441-G463-G46304410463.html" target="element"> MA-2 </a> </td>
													    <td> <a href="../elements/08yq14ql-M441-0441-G463-G46304410463.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-R441-0441-G626-G62604410626.html" target="element"> RA-5 </a> </td>
													    <td> <a href="../elements/08yq14ql-R441-0441-G626-G62604410626.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-M441-0441-G485-G48504410485.html" target="element"> MA-6 </a> </td>
													    <td> <a href="../elements/08yq14ql-M441-0441-G485-G48504410485.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-I441-0441-G429-G42904410429.html" target="element"> IR-2 </a> </td>
													    <td> <a href="../elements/08yq14ql-I441-0441-G429-G42904410429.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08yq14ql-M441-0441-G471-G47104410471.html" target="element"> MA-4 </a> </td>
													    <td> <a href="../elements/08yq14ql-M441-0441-G471-G47104410471.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/08yq14ql-S441-0441-G890-G89004410890.html" target="element"> SI-2 </a> </td>
											    <td> <a href="../elements/08yq14ql-S441-0441-G890-G89004410890.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/08yq14ql-S441-0441-G890-G89004410890.html" target="element"> SI-2 </a> </td>
											    <td> <a href="../elements/08yq14ql-S441-0441-G890-G89004410890.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/c10abf00-cd3a-4cc4-959f-28de2d6b57d5.html" target="element">  </a> </td>
									           <td> <a href="../objects/c10abf00-cd3a-4cc4-959f-28de2d6b57d5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/1bd6a828-d3ba-44ae-84c3-7d6a4a9ce463.html" target="element">  </a> </td>
																		<td> <a href="../elements/1bd6a828-d3ba-44ae-84c3-7d6a4a9ce463.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-M441-0441-G463-G46304410463.html" target="element"> MA-2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/94704450-996c-4ed5-9139-9656d184c10a.html" target="element">  </a> </td>
																		<td> <a href="../elements/94704450-996c-4ed5-9139-9656d184c10a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-M441-0441-G471-G47104410471.html" target="element"> MA-4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/665aafca-05e5-4df9-a184-a98e68f1afd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/665aafca-05e5-4df9-a184-a98e68f1afd5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-M441-0441-G479-G47904410479.html" target="element"> MA-5 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d653abb0-6b0c-4421-b7a9-867d9fe677b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/d653abb0-6b0c-4421-b7a9-867d9fe677b2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-M441-0441-G485-G48504410485.html" target="element"> MA-6 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8b7b0659-12b2-4cf4-9ceb-73a903b17634.html" target="element">  </a> </td>
																		<td> <a href="../elements/8b7b0659-12b2-4cf4-9ceb-73a903b17634.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-M441-0441-G490-G49004410490.html" target="element"> MP-2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4ba7e00f-6fb9-4611-a51b-3fc9f42826a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ba7e00f-6fb9-4611-a51b-3fc9f42826a8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-R441-0441-G626-G62604410626.html" target="element"> RA-5 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a1af517e-7b9c-4c9b-a80c-857276ab7eec.html" target="element">  </a> </td>
																		<td> <a href="../elements/a1af517e-7b9c-4c9b-a80c-857276ab7eec.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-S441-0441-G658-G65804410658.html" target="element"> SA-6 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10c54995-dbae-4ffa-bc88-1d5adb47caf5.html" target="element"> Associated </a> </td>
																		<td> <a href="../elements/10c54995-dbae-4ffa-bc88-1d5adb47caf5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-S441-0441-G890-G89004410890.html" target="element"> SI-2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9617cdc-f094-4c9d-9de4-2011d900197f.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9617cdc-f094-4c9d-9de4-2011d900197f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-A441-0441-G174-G17404410174.html" target="element"> AU-4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/545b8417-673a-494b-b8fc-7596826e7e2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/545b8417-673a-494b-b8fc-7596826e7e2e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-A441-0441-G163-G16304410163.html" target="element"> AT-4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7d958502-5ca1-4f28-83f2-c4bebac5d427.html" target="element">  </a> </td>
																		<td> <a href="../elements/7d958502-5ca1-4f28-83f2-c4bebac5d427.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-C441-0441-G243-G24304410243.html" target="element"> CA-7 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f73fb6a2-623c-4a0c-97a7-596745955a6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/f73fb6a2-623c-4a0c-97a7-596745955a6f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-C441-0441-G268-G26804410268.html" target="element"> CM-4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9364e9c9-60b4-41f2-9546-1c69fcc65e1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/9364e9c9-60b4-41f2-9546-1c69fcc65e1a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-C441-0441-G290-G29004410290.html" target="element"> CM-8 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a9898972-b829-459b-9cfa-d08027288a7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/a9898972-b829-459b-9cfa-d08027288a7e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-C441-0441-G317-G31704410317.html" target="element"> CP-3 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/42a8a68b-6568-4b7d-9740-dc27e64efa28.html" target="element">  </a> </td>
																		<td> <a href="../elements/42a8a68b-6568-4b7d-9740-dc27e64efa28.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-C441-0441-G343-G34304410343.html" target="element"> CP-9 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1cc4cb3d-e679-4caf-a758-80f7f79fd45f.html" target="element">  </a> </td>
																		<td> <a href="../elements/1cc4cb3d-e679-4caf-a758-80f7f79fd45f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-C541-0541-G352-G35205410352.html" target="element"> CP-10 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9a6a734e-5cf9-40f3-a860-c5077eb61986.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a6a734e-5cf9-40f3-a860-c5077eb61986.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/08yq14ql-S541-0541-G816-G81605410816.html" target="element"> SC-18 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c278e45f-a579-4805-b0e0-adaa8ed41a87.html" target="element">  </a> </td>
																				<td> <a href="../elements/c278e45f-a579-4805-b0e0-adaa8ed41a87.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/08yq14ql-I441-0441-G429-G42904410429.html" target="element"> IR-2 </a> </td>
																				<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/95672e5b-bc52-420f-9941-0e5ef939827d.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/95672e5b-bc52-420f-9941-0e5ef939827d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-A441-0441-G174-G17404410174.html" target="element"> AU-4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5bc2b773-7b3b-47f9-ad3b-a6422cc6af02.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/5bc2b773-7b3b-47f9-ad3b-a6422cc6af02.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-C441-0441-G317-G31704410317.html" target="element"> CP-3 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/34cfd535-d364-48e9-89e3-23552286e0d8.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/34cfd535-d364-48e9-89e3-23552286e0d8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-C441-0441-G268-G26804410268.html" target="element"> CM-4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a5968c9a-5cff-4709-bf39-44de87a4a116.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/a5968c9a-5cff-4709-bf39-44de87a4a116.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-R441-0441-G626-G62604410626.html" target="element"> RA-5 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c17e002c-cbc4-43b4-a290-2e984c17a68b.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/c17e002c-cbc4-43b4-a290-2e984c17a68b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-C541-0541-G352-G35205410352.html" target="element"> CP-10 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ebf7423f-0975-4bc8-8bb8-7e829178909b.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/ebf7423f-0975-4bc8-8bb8-7e829178909b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-C441-0441-G343-G34304410343.html" target="element"> CP-9 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/377778ba-14dc-40e7-b6f9-d8919f8f9b12.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/377778ba-14dc-40e7-b6f9-d8919f8f9b12.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-M441-0441-G479-G47904410479.html" target="element"> MA-5 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4f1e8176-3f57-4992-8f11-da5cf7fdde6e.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/4f1e8176-3f57-4992-8f11-da5cf7fdde6e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-S541-0541-G816-G81605410816.html" target="element"> SC-18 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/38176904-dd82-4727-b54b-77539c99f27c.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/38176904-dd82-4727-b54b-77539c99f27c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-M441-0441-G463-G46304410463.html" target="element"> MA-2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/019f561f-bd09-48b8-a38f-2e747652c0c9.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/019f561f-bd09-48b8-a38f-2e747652c0c9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-M441-0441-G490-G49004410490.html" target="element"> MP-2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/852fdd96-4f0b-4f03-a060-37ceb8e99b61.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/852fdd96-4f0b-4f03-a060-37ceb8e99b61.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-M441-0441-G485-G48504410485.html" target="element"> MA-6 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/15f0d381-4a70-4a11-94cb-6ff67ef58b52.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/15f0d381-4a70-4a11-94cb-6ff67ef58b52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-C441-0441-G243-G24304410243.html" target="element"> CA-7 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/73c7dcd9-d390-4cb8-9ab3-4f7a722caa4e.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/73c7dcd9-d390-4cb8-9ab3-4f7a722caa4e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-A441-0441-G163-G16304410163.html" target="element"> AT-4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bc9b10d1-c5a6-44bd-abf7-9774f32f9fcc.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/bc9b10d1-c5a6-44bd-abf7-9774f32f9fcc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-S441-0441-G890-G89004410890.html" target="element"> SI-2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d210ceb9-e650-4b8e-9ce1-99b19729af53.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/d210ceb9-e650-4b8e-9ce1-99b19729af53.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-S441-0441-G658-G65804410658.html" target="element"> SA-6 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/834adb97-4533-4463-ae9d-7e6e16127008.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/834adb97-4533-4463-ae9d-7e6e16127008.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-I441-0441-G429-G42904410429.html" target="element"> IR-2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c44fe2b3-122b-4185-b4e9-335fa8031376.html" target="element"> Realizes. </a> </td>
																		<td> <a href="../elements/c44fe2b3-122b-4185-b4e9-335fa8031376.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-M441-0441-G471-G47104410471.html" target="element"> MA-4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a3899652-22fd-4b41-b696-1618df2dd74b.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/a3899652-22fd-4b41-b696-1618df2dd74b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fa92dc7-0238-46f5-9327-1e77a45e39e1.html" target="element"> IT Operations Manager </a> </td>
																		<td> <a href="../elements/08yq14ql-C441-0441-G290-G29004410290.html" target="element"> CM-8 </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>