<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3 Tier Web app in EDC</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3 Tier Web app in EDC</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/625e5076-5be7-40ce-a034-5d974d6d8c08.png" alt="3 Tier Web app in EDC" usemap="#625e5076-5be7-40ce-a034-5d974d6d8c08map"/>
			   <map name="625e5076-5be7-40ce-a034-5d974d6d8c08map">
				  				<area shape="rect" coords="850,1174,1055,1199" href="../elements/ded65ccb-3885-4555-a14f-132dd1ed0ccb.html"  target="element">
				  				<area shape="rect" coords="850,1210,1055,1259" href="../elements/0f0f4f48-8d5c-4cb2-a736-35b3d2ba6e92.html"  target="element">
				  				<area shape="rect" coords="850,1270,1055,1385" href="../elements/ff358296-0eb7-4422-8d64-7d29b8b4c85e.html"  target="element">

				  		<area shape="rect" coords="814,1150,1103,1415" href="../elements/eb063902-fbc7-417d-a817-003e32481fd8.html"  target="element">
				  				<area shape="rect" coords="849,874,1054,989" href="../elements/b839c30d-0271-486e-891f-f8179589d797.html"  target="element">
				  				<area shape="rect" coords="849,778,1054,803" href="../elements/a4f5d563-3078-4f61-87f7-864284f2cabb.html"  target="element">
				  				<area shape="rect" coords="849,814,1054,863" href="../elements/0268b08a-592d-4c9f-a27e-4ef69f60967b.html"  target="element">

				  		<area shape="rect" coords="813,754,1102,1019" href="../elements/a8235e9b-c980-4c35-94f9-af1cf6063339.html"  target="element">
				  				<area shape="rect" coords="850,370,1055,485" href="../elements/7c069316-2329-48cc-ab34-17710e23c200.html"  target="element">
				  				<area shape="rect" coords="850,274,1055,299" href="../elements/30acf2c4-282a-48ad-af2b-68f8bcbc4c56.html"  target="element">
				  				<area shape="rect" coords="850,310,1055,359" href="../elements/047ef010-9385-4b89-9b31-943e1fa030ec.html"  target="element">

				  		<area shape="rect" coords="814,250,1103,515" href="../elements/3cc07e1a-c933-435d-893e-69a692dc1b9e.html"  target="element">
				  		<area shape="rect" coords="11,154,300,514" href="../elements/6437dea9-5249-4a23-928a-975177737c39.html"  target="element">
				  		<area shape="rect" coords="10,22,302,118" href="../elements/4021100e-593c-45bc-9745-1503640b426a.html"  target="element">
				  		<area shape="rect" coords="815,10,1115,106" href="../elements/664b9c15-4d13-4290-a476-52b3d54a98d3.html"  target="element">
				  		<area shape="rect" coords="815,142,1103,209" href="../elements/13b3b5b4-2fec-41bb-a80f-d41f5121cb83.html"  target="element">
				  		<area shape="rect" coords="11,550,300,1415" href="../elements/65245517-23c5-4796-a760-82ae0295c912.html"  target="element">
				  		<area shape="rect" coords="815,550,1103,622" href="../elements/5c51f6d3-aba0-4781-9233-ba50e0b0cc15.html"  target="element">
				  		<area shape="rect" coords="407,755,697,1018" href="../elements/4156fb56-59fc-44df-bfa9-f2b35b68f1c5.html"  target="element">
				  		<area shape="rect" coords="815,646,1103,718" href="../elements/ef03981c-b1a5-4290-975b-a8bb2bcc015c.html"  target="element">
				  		<area shape="rect" coords="407,1151,697,1414" href="../elements/a7916a57-fce8-4d66-b445-16713fe4c21f.html"  target="element">
				  		<area shape="rect" coords="814,1054,1102,1126" href="../elements/488501c7-7e90-40c5-b1f0-d950e5d34121.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/eb063902-fbc7-417d-a817-003e32481fd8.html" target="element"> Server Node </a> </td>
											    <td> <a href="../elements/eb063902-fbc7-417d-a817-003e32481fd8.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ded65ccb-3885-4555-a14f-132dd1ed0ccb.html" target="element"> Operating System Image  </a> </td>
													    <td> <a href="../elements/ded65ccb-3885-4555-a14f-132dd1ed0ccb.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0f0f4f48-8d5c-4cb2-a736-35b3d2ba6e92.html" target="element"> Virtual Device </a> </td>
													    <td> <a href="../elements/0f0f4f48-8d5c-4cb2-a736-35b3d2ba6e92.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ff358296-0eb7-4422-8d64-7d29b8b4c85e.html" target="element"> DBMS </a> </td>
													    <td> <a href="../elements/ff358296-0eb7-4422-8d64-7d29b8b4c85e.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/a8235e9b-c980-4c35-94f9-af1cf6063339.html" target="element"> Web Server Node </a> </td>
											    <td> <a href="../elements/a8235e9b-c980-4c35-94f9-af1cf6063339.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b839c30d-0271-486e-891f-f8179589d797.html" target="element"> Web Server </a> </td>
													    <td> <a href="../elements/b839c30d-0271-486e-891f-f8179589d797.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a4f5d563-3078-4f61-87f7-864284f2cabb.html" target="element"> Operating System Image  </a> </td>
													    <td> <a href="../elements/a4f5d563-3078-4f61-87f7-864284f2cabb.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0268b08a-592d-4c9f-a27e-4ef69f60967b.html" target="element"> Virtual Device </a> </td>
													    <td> <a href="../elements/0268b08a-592d-4c9f-a27e-4ef69f60967b.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3cc07e1a-c933-435d-893e-69a692dc1b9e.html" target="element"> Reverse Proxy Node </a> </td>
											    <td> <a href="../elements/3cc07e1a-c933-435d-893e-69a692dc1b9e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7c069316-2329-48cc-ab34-17710e23c200.html" target="element"> Reverse Proxy Server </a> </td>
													    <td> <a href="../elements/7c069316-2329-48cc-ab34-17710e23c200.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/30acf2c4-282a-48ad-af2b-68f8bcbc4c56.html" target="element"> Operating System Image  </a> </td>
													    <td> <a href="../elements/30acf2c4-282a-48ad-af2b-68f8bcbc4c56.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/047ef010-9385-4b89-9b31-943e1fa030ec.html" target="element"> Virtual Device </a> </td>
													    <td> <a href="../elements/047ef010-9385-4b89-9b31-943e1fa030ec.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6437dea9-5249-4a23-928a-975177737c39.html" target="element"> Public Access Zone </a> </td>
											    <td> <a href="../elements/6437dea9-5249-4a23-928a-975177737c39.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4021100e-593c-45bc-9745-1503640b426a.html" target="element"> Public Zone </a> </td>
											    <td> <a href="../elements/4021100e-593c-45bc-9745-1503640b426a.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/664b9c15-4d13-4290-a476-52b3d54a98d3.html" target="element"> Johnny Canuck </a> </td>
											    <td> <a href="../elements/664b9c15-4d13-4290-a476-52b3d54a98d3.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13b3b5b4-2fec-41bb-a80f-d41f5121cb83.html" target="element"> Public Zone ZIP </a> </td>
											    <td> <a href="../elements/13b3b5b4-2fec-41bb-a80f-d41f5121cb83.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/65245517-23c5-4796-a760-82ae0295c912.html" target="element"> Restricted Zone </a> </td>
											    <td> <a href="../elements/65245517-23c5-4796-a760-82ae0295c912.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5c51f6d3-aba0-4781-9233-ba50e0b0cc15.html" target="element"> PAZ ZIP </a> </td>
											    <td> <a href="../elements/5c51f6d3-aba0-4781-9233-ba50e0b0cc15.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4156fb56-59fc-44df-bfa9-f2b35b68f1c5.html" target="element"> APP RZ </a> </td>
											    <td> <a href="../elements/4156fb56-59fc-44df-bfa9-f2b35b68f1c5.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ef03981c-b1a5-4290-975b-a8bb2bcc015c.html" target="element"> App RZ ZIP </a> </td>
											    <td> <a href="../elements/ef03981c-b1a5-4290-975b-a8bb2bcc015c.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a7916a57-fce8-4d66-b445-16713fe4c21f.html" target="element"> DB RZ </a> </td>
											    <td> <a href="../elements/a7916a57-fce8-4d66-b445-16713fe4c21f.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/488501c7-7e90-40c5-b1f0-d950e5d34121.html" target="element"> DB RZ ZIP </a> </td>
											    <td> <a href="../elements/488501c7-7e90-40c5-b1f0-d950e5d34121.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b3bbcd92-953b-4d93-b1fc-fdd8004cf4cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/b3bbcd92-953b-4d93-b1fc-fdd8004cf4cd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/eb063902-fbc7-417d-a817-003e32481fd8.html" target="element"> Server Node </a> </td>
																		<td> <a href="../elements/0f0f4f48-8d5c-4cb2-a736-35b3d2ba6e92.html" target="element"> Virtual Device </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/55ffaa3b-2f7e-416e-ac41-b04c2d6cc588.html" target="element">  </a> </td>
																		<td> <a href="../elements/55ffaa3b-2f7e-416e-ac41-b04c2d6cc588.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/eb063902-fbc7-417d-a817-003e32481fd8.html" target="element"> Server Node </a> </td>
																		<td> <a href="../elements/ded65ccb-3885-4555-a14f-132dd1ed0ccb.html" target="element"> Operating System Image  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d6fa009-4544-4a27-bdc7-57d4891bae28.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d6fa009-4544-4a27-bdc7-57d4891bae28.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/eb063902-fbc7-417d-a817-003e32481fd8.html" target="element"> Server Node </a> </td>
																		<td> <a href="../elements/ff358296-0eb7-4422-8d64-7d29b8b4c85e.html" target="element"> DBMS </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ac54fff6-3e68-4e06-a8bf-2ce6f67d846d.html" target="element">  </a> </td>
																				<td> <a href="../elements/ac54fff6-3e68-4e06-a8bf-2ce6f67d846d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ff358296-0eb7-4422-8d64-7d29b8b4c85e.html" target="element"> DBMS </a> </td>
																				<td> <a href="../elements/488501c7-7e90-40c5-b1f0-d950e5d34121.html" target="element"> DB RZ ZIP </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/5a6b3a39-f678-4f21-b53e-751ec13a0d59.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a6b3a39-f678-4f21-b53e-751ec13a0d59.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/a8235e9b-c980-4c35-94f9-af1cf6063339.html" target="element"> Web Server Node </a> </td>
																		<td> <a href="../elements/0268b08a-592d-4c9f-a27e-4ef69f60967b.html" target="element"> Virtual Device </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ff9e3361-3951-493f-81df-18e7d56dbbfa.html" target="element">  </a> </td>
																		<td> <a href="../elements/ff9e3361-3951-493f-81df-18e7d56dbbfa.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/a8235e9b-c980-4c35-94f9-af1cf6063339.html" target="element"> Web Server Node </a> </td>
																		<td> <a href="../elements/a4f5d563-3078-4f61-87f7-864284f2cabb.html" target="element"> Operating System Image  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e8af4196-8268-4baa-8b09-084d55e5a373.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8af4196-8268-4baa-8b09-084d55e5a373.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/a8235e9b-c980-4c35-94f9-af1cf6063339.html" target="element"> Web Server Node </a> </td>
																		<td> <a href="../elements/b839c30d-0271-486e-891f-f8179589d797.html" target="element"> Web Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/287015fb-01a7-46a6-a238-48308f7f486b.html" target="element">  </a> </td>
																				<td> <a href="../elements/287015fb-01a7-46a6-a238-48308f7f486b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b839c30d-0271-486e-891f-f8179589d797.html" target="element"> Web Server </a> </td>
																				<td> <a href="../elements/488501c7-7e90-40c5-b1f0-d950e5d34121.html" target="element"> DB RZ ZIP </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a8b20a59-d7e0-4316-887c-872805f1de7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/a8b20a59-d7e0-4316-887c-872805f1de7f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b839c30d-0271-486e-891f-f8179589d797.html" target="element"> Web Server </a> </td>
																				<td> <a href="../elements/ef03981c-b1a5-4290-975b-a8bb2bcc015c.html" target="element"> App RZ ZIP </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/1445f8f4-b936-4d5b-a4d9-09f1de7662e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/1445f8f4-b936-4d5b-a4d9-09f1de7662e3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3cc07e1a-c933-435d-893e-69a692dc1b9e.html" target="element"> Reverse Proxy Node </a> </td>
																		<td> <a href="../elements/7c069316-2329-48cc-ab34-17710e23c200.html" target="element"> Reverse Proxy Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2e858db8-7a8a-4566-8d49-476639c4e94a.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e858db8-7a8a-4566-8d49-476639c4e94a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3cc07e1a-c933-435d-893e-69a692dc1b9e.html" target="element"> Reverse Proxy Node </a> </td>
																		<td> <a href="../elements/30acf2c4-282a-48ad-af2b-68f8bcbc4c56.html" target="element"> Operating System Image  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/62614816-b165-415d-a0d0-d5852ea9e3d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/62614816-b165-415d-a0d0-d5852ea9e3d5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3cc07e1a-c933-435d-893e-69a692dc1b9e.html" target="element"> Reverse Proxy Node </a> </td>
																		<td> <a href="../elements/047ef010-9385-4b89-9b31-943e1fa030ec.html" target="element"> Virtual Device </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d722d8de-6e78-40be-84d5-4beb3bdc843c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d722d8de-6e78-40be-84d5-4beb3bdc843c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3cc07e1a-c933-435d-893e-69a692dc1b9e.html" target="element"> Reverse Proxy Node </a> </td>
																		<td> <a href="../elements/6437dea9-5249-4a23-928a-975177737c39.html" target="element"> Public Access Zone </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0c156859-3ebd-4a8d-9837-a078c9f717e9.html" target="element">  </a> </td>
																				<td> <a href="../elements/0c156859-3ebd-4a8d-9837-a078c9f717e9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/7c069316-2329-48cc-ab34-17710e23c200.html" target="element"> Reverse Proxy Server </a> </td>
																				<td> <a href="../elements/13b3b5b4-2fec-41bb-a80f-d41f5121cb83.html" target="element"> Public Zone ZIP </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0984bbe6-9c17-4766-806f-895cacbfe1db.html" target="element">  </a> </td>
																				<td> <a href="../elements/0984bbe6-9c17-4766-806f-895cacbfe1db.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/7c069316-2329-48cc-ab34-17710e23c200.html" target="element"> Reverse Proxy Server </a> </td>
																				<td> <a href="../elements/5c51f6d3-aba0-4781-9233-ba50e0b0cc15.html" target="element"> PAZ ZIP </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/5d912170-646b-4888-b12e-6ef7300d2fb3.html" target="element">  </a> </td>
																		<td> <a href="../elements/5d912170-646b-4888-b12e-6ef7300d2fb3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6437dea9-5249-4a23-928a-975177737c39.html" target="element"> Public Access Zone </a> </td>
																		<td> <a href="../elements/65245517-23c5-4796-a760-82ae0295c912.html" target="element"> Restricted Zone </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e7a14dd8-bd47-4127-b6ec-3eed6de495f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/e7a14dd8-bd47-4127-b6ec-3eed6de495f9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6437dea9-5249-4a23-928a-975177737c39.html" target="element"> Public Access Zone </a> </td>
																		<td> <a href="../elements/5c51f6d3-aba0-4781-9233-ba50e0b0cc15.html" target="element"> PAZ ZIP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3607b461-13cd-4b39-9cfa-a8d33796f37e.html" target="element">  </a> </td>
																		<td> <a href="../elements/3607b461-13cd-4b39-9cfa-a8d33796f37e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6437dea9-5249-4a23-928a-975177737c39.html" target="element"> Public Access Zone </a> </td>
																		<td> <a href="../elements/13b3b5b4-2fec-41bb-a80f-d41f5121cb83.html" target="element"> Public Zone ZIP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/74399b95-1691-40eb-bf99-d61b4f40752c.html" target="element">  </a> </td>
																		<td> <a href="../elements/74399b95-1691-40eb-bf99-d61b4f40752c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6437dea9-5249-4a23-928a-975177737c39.html" target="element"> Public Access Zone </a> </td>
																		<td> <a href="../elements/4021100e-593c-45bc-9745-1503640b426a.html" target="element"> Public Zone </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2dd97d9f-5cbe-4f41-90b2-538c32692cec.html" target="element">  </a> </td>
																		<td> <a href="../elements/2dd97d9f-5cbe-4f41-90b2-538c32692cec.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/4021100e-593c-45bc-9745-1503640b426a.html" target="element"> Public Zone </a> </td>
																		<td> <a href="../elements/13b3b5b4-2fec-41bb-a80f-d41f5121cb83.html" target="element"> Public Zone ZIP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/811e297c-b226-46a0-81ce-9a70986bf9b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/811e297c-b226-46a0-81ce-9a70986bf9b5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/664b9c15-4d13-4290-a476-52b3d54a98d3.html" target="element"> Johnny Canuck </a> </td>
																		<td> <a href="../elements/13b3b5b4-2fec-41bb-a80f-d41f5121cb83.html" target="element"> Public Zone ZIP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f1a45be5-f067-4e64-8917-b2ff1646ee5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1a45be5-f067-4e64-8917-b2ff1646ee5f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/664b9c15-4d13-4290-a476-52b3d54a98d3.html" target="element"> Johnny Canuck </a> </td>
																		<td> <a href="../elements/4021100e-593c-45bc-9745-1503640b426a.html" target="element"> Public Zone </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a3bb75f3-90be-4c9e-a3d3-46e5bee5b966.html" target="element">  </a> </td>
																		<td> <a href="../elements/a3bb75f3-90be-4c9e-a3d3-46e5bee5b966.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/13b3b5b4-2fec-41bb-a80f-d41f5121cb83.html" target="element"> Public Zone ZIP </a> </td>
																		<td> <a href="../elements/664b9c15-4d13-4290-a476-52b3d54a98d3.html" target="element"> Johnny Canuck </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d2d01eb6-80a6-43c8-a19b-a7f6c8eeff59.html" target="element">  </a> </td>
																		<td> <a href="../elements/d2d01eb6-80a6-43c8-a19b-a7f6c8eeff59.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/13b3b5b4-2fec-41bb-a80f-d41f5121cb83.html" target="element"> Public Zone ZIP </a> </td>
																		<td> <a href="../elements/7c069316-2329-48cc-ab34-17710e23c200.html" target="element"> Reverse Proxy Server </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/823855cc-6209-4da1-afef-422e5ebd384e.html" target="element">  </a> </td>
																		<td> <a href="../elements/823855cc-6209-4da1-afef-422e5ebd384e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/65245517-23c5-4796-a760-82ae0295c912.html" target="element"> Restricted Zone </a> </td>
																		<td> <a href="../elements/ef03981c-b1a5-4290-975b-a8bb2bcc015c.html" target="element"> App RZ ZIP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/def6faed-3851-472b-bd05-41999d67a537.html" target="element">  </a> </td>
																		<td> <a href="../elements/def6faed-3851-472b-bd05-41999d67a537.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/65245517-23c5-4796-a760-82ae0295c912.html" target="element"> Restricted Zone </a> </td>
																		<td> <a href="../elements/488501c7-7e90-40c5-b1f0-d950e5d34121.html" target="element"> DB RZ ZIP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f1bd310b-b74b-4f65-ac3b-eb83663c7c88.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1bd310b-b74b-4f65-ac3b-eb83663c7c88.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/5c51f6d3-aba0-4781-9233-ba50e0b0cc15.html" target="element"> PAZ ZIP </a> </td>
																		<td> <a href="../elements/65245517-23c5-4796-a760-82ae0295c912.html" target="element"> Restricted Zone </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/937fc0db-3d88-429e-8537-08957decafb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/937fc0db-3d88-429e-8537-08957decafb2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/5c51f6d3-aba0-4781-9233-ba50e0b0cc15.html" target="element"> PAZ ZIP </a> </td>
																		<td> <a href="../elements/7c069316-2329-48cc-ab34-17710e23c200.html" target="element"> Reverse Proxy Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3f378b14-dd12-4aef-a16d-522c7a2e9fdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f378b14-dd12-4aef-a16d-522c7a2e9fdf.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/5c51f6d3-aba0-4781-9233-ba50e0b0cc15.html" target="element"> PAZ ZIP </a> </td>
																		<td> <a href="../elements/ef03981c-b1a5-4290-975b-a8bb2bcc015c.html" target="element"> App RZ ZIP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/54fea2b8-7464-4bc1-a7a7-75d597061bdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/54fea2b8-7464-4bc1-a7a7-75d597061bdd.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/4156fb56-59fc-44df-bfa9-f2b35b68f1c5.html" target="element"> APP RZ </a> </td>
																		<td> <a href="../elements/65245517-23c5-4796-a760-82ae0295c912.html" target="element"> Restricted Zone </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5d3353aa-a38c-40df-9d93-d87e4bef6ba4.html" target="element">  </a> </td>
																		<td> <a href="../elements/5d3353aa-a38c-40df-9d93-d87e4bef6ba4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/4156fb56-59fc-44df-bfa9-f2b35b68f1c5.html" target="element"> APP RZ </a> </td>
																		<td> <a href="../elements/a8235e9b-c980-4c35-94f9-af1cf6063339.html" target="element"> Web Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2499e534-2947-4a1e-abb2-3697ea759479.html" target="element">  </a> </td>
																		<td> <a href="../elements/2499e534-2947-4a1e-abb2-3697ea759479.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/ef03981c-b1a5-4290-975b-a8bb2bcc015c.html" target="element"> App RZ ZIP </a> </td>
																		<td> <a href="../elements/b839c30d-0271-486e-891f-f8179589d797.html" target="element"> Web Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/37bba687-47fa-42d0-ba97-2658fddb19b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/37bba687-47fa-42d0-ba97-2658fddb19b9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/ef03981c-b1a5-4290-975b-a8bb2bcc015c.html" target="element"> App RZ ZIP </a> </td>
																		<td> <a href="../elements/5c51f6d3-aba0-4781-9233-ba50e0b0cc15.html" target="element"> PAZ ZIP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/78a96f3f-6912-4981-ba84-a8906406898c.html" target="element">  </a> </td>
																		<td> <a href="../elements/78a96f3f-6912-4981-ba84-a8906406898c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a7916a57-fce8-4d66-b445-16713fe4c21f.html" target="element"> DB RZ </a> </td>
																		<td> <a href="../elements/eb063902-fbc7-417d-a817-003e32481fd8.html" target="element"> Server Node </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a862c6ce-0e76-43b5-91f8-384b62ac746a.html" target="element">  </a> </td>
																		<td> <a href="../elements/a862c6ce-0e76-43b5-91f8-384b62ac746a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/a7916a57-fce8-4d66-b445-16713fe4c21f.html" target="element"> DB RZ </a> </td>
																		<td> <a href="../elements/65245517-23c5-4796-a760-82ae0295c912.html" target="element"> Restricted Zone </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ed6b7926-d903-4cdb-8f8b-7ea7f107b091.html" target="element">  </a> </td>
																		<td> <a href="../elements/ed6b7926-d903-4cdb-8f8b-7ea7f107b091.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/488501c7-7e90-40c5-b1f0-d950e5d34121.html" target="element"> DB RZ ZIP </a> </td>
																		<td> <a href="../elements/ff358296-0eb7-4422-8d64-7d29b8b4c85e.html" target="element"> DBMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d5e639db-65d5-4673-b5c6-8480eec9fc7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5e639db-65d5-4673-b5c6-8480eec9fc7b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/488501c7-7e90-40c5-b1f0-d950e5d34121.html" target="element"> DB RZ ZIP </a> </td>
																		<td> <a href="../elements/b839c30d-0271-486e-891f-f8179589d797.html" target="element"> Web Server </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>