<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>[Pattern] Supporting Services</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>[Pattern] Supporting Services</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d49a5ac8-103c-482b-9ce7-c589c247489f.png" alt="[Pattern] Supporting Services" usemap="#d49a5ac8-103c-482b-9ce7-c589c247489fmap"/>
			   <map name="d49a5ac8-103c-482b-9ce7-c589c247489fmap">
				  		<area shape="rect" coords="472,14,592,243" href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html"  target="element">
				  		<area shape="rect" coords="784,14,941,39" href="../elements/96720c62-7606-41a5-80cc-64501bab999b.html"  target="element">
				  		<area shape="rect" coords="784,86,941,111" href="../elements/73107f1d-dd92-40bf-a96c-27638a96c4b2.html"  target="element">
				  		<area shape="rect" coords="784,110,941,141" href="../elements/5b584a54-60a7-45b5-aa63-a982b871d12e.html"  target="element">
				  		<area shape="rect" coords="784,170,941,195" href="../elements/4279ced1-e651-4231-8648-7aaf7d2578e4.html"  target="element">
				  		<area shape="rect" coords="136,38,329,63" href="../elements/6e008a0c-963b-4364-af1b-9597e48bfeb2.html"  target="element">
				  		<area shape="rect" coords="784,62,941,87" href="../elements/4a92c420-31c4-464d-b9d7-48dce6f09a8d.html"  target="element">
				  		<area shape="rect" coords="784,194,941,219" href="../elements/2ecb8b94-f204-4a61-8208-c0f1bbc372f1.html"  target="element">
				  		<area shape="rect" coords="784,38,941,63" href="../elements/c36d722a-c689-4f14-820b-25b3d93bae33.html"  target="element">
				  		<area shape="rect" coords="784,140,941,171" href="../elements/5677de79-0f74-414b-9dca-382ced270c95.html"  target="element">
				  		<area shape="rect" coords="136,14,329,39" href="../elements/8318067b-640a-4c42-8c9a-0c27f947c044.html"  target="element">
				  		<area shape="rect" coords="136,62,329,87" href="../elements/25a290a8-5ac5-4a62-b00d-42b18019fb82.html"  target="element">
				  		<area shape="rect" coords="136,86,329,111" href="../elements/70bf22a4-8037-4aea-9305-b92afd76069b.html"  target="element">
				  		<area shape="rect" coords="136,110,328,134" href="../elements/08942409-c657-4783-a380-40d7277c55b8.html"  target="element">
				  		<area shape="rect" coords="130,386,335,435" href="../elements/445c6d01-494a-4111-8b78-86b705372ba2.html"  target="element">
				  				<area shape="rect" coords="484,386,1109,435" href="../elements/0a640fe6-066f-4b06-b439-1c925cf91719.html"  target="element">
				  				<area shape="rect" coords="484,350,1109,375" href="../elements/2569b27e-ee6f-4097-aca4-e57249985db8.html"  target="element">

				  		<area shape="rect" coords="472,326,1121,447" href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
											    <td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/96720c62-7606-41a5-80cc-64501bab999b.html" target="element"> PKI </a> </td>
											    <td> <a href="../elements/96720c62-7606-41a5-80cc-64501bab999b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/73107f1d-dd92-40bf-a96c-27638a96c4b2.html" target="element"> DNS </a> </td>
											    <td> <a href="../elements/73107f1d-dd92-40bf-a96c-27638a96c4b2.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5b584a54-60a7-45b5-aa63-a982b871d12e.html" target="element"> DHCP </a> </td>
											    <td> <a href="../elements/5b584a54-60a7-45b5-aa63-a982b871d12e.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4279ced1-e651-4231-8648-7aaf7d2578e4.html" target="element"> IPAM </a> </td>
											    <td> <a href="../elements/4279ced1-e651-4231-8648-7aaf7d2578e4.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6e008a0c-963b-4364-af1b-9597e48bfeb2.html" target="element"> Load Balancing </a> </td>
											    <td> <a href="../elements/6e008a0c-963b-4364-af1b-9597e48bfeb2.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4a92c420-31c4-464d-b9d7-48dce6f09a8d.html" target="element"> Directory Services </a> </td>
											    <td> <a href="../elements/4a92c420-31c4-464d-b9d7-48dce6f09a8d.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2ecb8b94-f204-4a61-8208-c0f1bbc372f1.html" target="element"> Anti-Virus </a> </td>
											    <td> <a href="../elements/2ecb8b94-f204-4a61-8208-c0f1bbc372f1.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c36d722a-c689-4f14-820b-25b3d93bae33.html" target="element"> Patching </a> </td>
											    <td> <a href="../elements/c36d722a-c689-4f14-820b-25b3d93bae33.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5677de79-0f74-414b-9dca-382ced270c95.html" target="element"> Monitoring </a> </td>
											    <td> <a href="../elements/5677de79-0f74-414b-9dca-382ced270c95.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8318067b-640a-4c42-8c9a-0c27f947c044.html" target="element"> Perimeter Services (Firewall) </a> </td>
											    <td> <a href="../elements/8318067b-640a-4c42-8c9a-0c27f947c044.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/25a290a8-5ac5-4a62-b00d-42b18019fb82.html" target="element"> Storage </a> </td>
											    <td> <a href="../elements/25a290a8-5ac5-4a62-b00d-42b18019fb82.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/70bf22a4-8037-4aea-9305-b92afd76069b.html" target="element"> Backup </a> </td>
											    <td> <a href="../elements/70bf22a4-8037-4aea-9305-b92afd76069b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/08942409-c657-4783-a380-40d7277c55b8.html" target="element"> Hosting </a> </td>
											    <td> <a href="../elements/08942409-c657-4783-a380-40d7277c55b8.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/445c6d01-494a-4111-8b78-86b705372ba2.html" target="element"> Storage </a> </td>
											    <td> <a href="../elements/445c6d01-494a-4111-8b78-86b705372ba2.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
											    <td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0a640fe6-066f-4b06-b439-1c925cf91719.html" target="element"> Virtual or Physical Device </a> </td>
													    <td> <a href="../elements/0a640fe6-066f-4b06-b439-1c925cf91719.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2569b27e-ee6f-4097-aca4-e57249985db8.html" target="element"> Operating System Image  </a> </td>
													    <td> <a href="../elements/2569b27e-ee6f-4097-aca4-e57249985db8.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/fe17c839-30d8-4b55-b0c0-e6d34db455f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/fe17c839-30d8-4b55-b0c0-e6d34db455f0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/25a290a8-5ac5-4a62-b00d-42b18019fb82.html" target="element"> Storage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/09441e23-0386-45aa-9346-9fb823096f38.html" target="element">  </a> </td>
																		<td> <a href="../elements/09441e23-0386-45aa-9346-9fb823096f38.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/08942409-c657-4783-a380-40d7277c55b8.html" target="element"> Hosting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0a02c4c0-7638-4e21-b48e-ba81a24b04d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a02c4c0-7638-4e21-b48e-ba81a24b04d7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/6e008a0c-963b-4364-af1b-9597e48bfeb2.html" target="element"> Load Balancing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ec179286-8fbf-4a94-b86c-74425bb48867.html" target="element">  </a> </td>
																		<td> <a href="../elements/ec179286-8fbf-4a94-b86c-74425bb48867.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/8318067b-640a-4c42-8c9a-0c27f947c044.html" target="element"> Perimeter Services (Firewall) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cbb21f66-f0f7-4e65-8e33-7de47c9f7dda.html" target="element">  </a> </td>
																		<td> <a href="../elements/cbb21f66-f0f7-4e65-8e33-7de47c9f7dda.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/c36d722a-c689-4f14-820b-25b3d93bae33.html" target="element"> Patching </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2f1fd149-5e2c-48ed-84bd-c1f81c4bcd04.html" target="element">  </a> </td>
																		<td> <a href="../elements/2f1fd149-5e2c-48ed-84bd-c1f81c4bcd04.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/73107f1d-dd92-40bf-a96c-27638a96c4b2.html" target="element"> DNS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/448b04ec-665c-4fad-a153-b02ca74c3792.html" target="element">  </a> </td>
																		<td> <a href="../elements/448b04ec-665c-4fad-a153-b02ca74c3792.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/2ecb8b94-f204-4a61-8208-c0f1bbc372f1.html" target="element"> Anti-Virus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/66f27ed6-932d-4299-afc9-ee639dfeb78e.html" target="element">  </a> </td>
																		<td> <a href="../elements/66f27ed6-932d-4299-afc9-ee639dfeb78e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/96720c62-7606-41a5-80cc-64501bab999b.html" target="element"> PKI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6994f847-07cc-4520-8aa0-1af75e97419d.html" target="element"> Composes </a> </td>
																		<td> <a href="../elements/6994f847-07cc-4520-8aa0-1af75e97419d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/4279ced1-e651-4231-8648-7aaf7d2578e4.html" target="element"> IPAM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/621ad7c9-6f5b-4563-ab1c-0fd35a1be54c.html" target="element">  </a> </td>
																		<td> <a href="../elements/621ad7c9-6f5b-4563-ab1c-0fd35a1be54c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/70bf22a4-8037-4aea-9305-b92afd76069b.html" target="element"> Backup </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/83dc3000-f4c1-4ab1-a27d-c83eb069d025.html" target="element">  </a> </td>
																		<td> <a href="../elements/83dc3000-f4c1-4ab1-a27d-c83eb069d025.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/4a92c420-31c4-464d-b9d7-48dce6f09a8d.html" target="element"> Directory Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7d399d11-1abd-4f08-bb54-af8d07ecf966.html" target="element">  </a> </td>
																		<td> <a href="../elements/7d399d11-1abd-4f08-bb54-af8d07ecf966.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/5b584a54-60a7-45b5-aa63-a982b871d12e.html" target="element"> DHCP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3229c0b1-5e45-45ea-84b6-3598c4d5345d.html" target="element"> Association </a> </td>
																		<td> <a href="../elements/3229c0b1-5e45-45ea-84b6-3598c4d5345d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/b880d724-d982-4eca-8015-9fab417cd214.html" target="element"> Datacenter Services [Group] </a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/da246872-a281-4b29-81ea-47b2764f95c5.html" target="element"> Serves </a> </td>
																		<td> <a href="../elements/da246872-a281-4b29-81ea-47b2764f95c5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/96720c62-7606-41a5-80cc-64501bab999b.html" target="element"> PKI </a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/957e5cd7-b7d5-49d4-bdc4-5ac2ddace92c.html" target="element">  </a> </td>
																		<td> <a href="../elements/957e5cd7-b7d5-49d4-bdc4-5ac2ddace92c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/73107f1d-dd92-40bf-a96c-27638a96c4b2.html" target="element"> DNS </a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5e69d072-3c38-4eac-a8ec-9b603734b617.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e69d072-3c38-4eac-a8ec-9b603734b617.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5b584a54-60a7-45b5-aa63-a982b871d12e.html" target="element"> DHCP </a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4856c1cf-3e1b-4e7f-89c1-a3ff428ee01f.html" target="element">  </a> </td>
																		<td> <a href="../elements/4856c1cf-3e1b-4e7f-89c1-a3ff428ee01f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4279ced1-e651-4231-8648-7aaf7d2578e4.html" target="element"> IPAM </a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/602c50f2-e2c3-4a6b-80cf-706b38cb10de.html" target="element">  </a> </td>
																		<td> <a href="../elements/602c50f2-e2c3-4a6b-80cf-706b38cb10de.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4a92c420-31c4-464d-b9d7-48dce6f09a8d.html" target="element"> Directory Services </a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1793f436-d8ce-4332-bb47-8d20d62c1d35.html" target="element">  </a> </td>
																		<td> <a href="../elements/1793f436-d8ce-4332-bb47-8d20d62c1d35.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/2ecb8b94-f204-4a61-8208-c0f1bbc372f1.html" target="element"> Anti-Virus </a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/50c2b55d-3140-43c0-9896-284af5515b08.html" target="element">  </a> </td>
																		<td> <a href="../elements/50c2b55d-3140-43c0-9896-284af5515b08.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/c36d722a-c689-4f14-820b-25b3d93bae33.html" target="element"> Patching </a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/091b3eab-f86b-4235-9e5a-246d7ded9178.html" target="element">  </a> </td>
																		<td> <a href="../elements/091b3eab-f86b-4235-9e5a-246d7ded9178.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5677de79-0f74-414b-9dca-382ced270c95.html" target="element"> Monitoring </a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b5e9684a-280f-469f-ac8e-b62332341538.html" target="element"> Associtation </a> </td>
																		<td> <a href="../elements/b5e9684a-280f-469f-ac8e-b62332341538.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/25a290a8-5ac5-4a62-b00d-42b18019fb82.html" target="element"> Storage </a> </td>
																		<td> <a href="../elements/445c6d01-494a-4111-8b78-86b705372ba2.html" target="element"> Storage </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5aebf552-83da-4d4c-8183-81075bec51f3.html" target="element"> Serves </a> </td>
																		<td> <a href="../elements/5aebf552-83da-4d4c-8183-81075bec51f3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/445c6d01-494a-4111-8b78-86b705372ba2.html" target="element"> Storage </a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e45fdc42-1ab2-4be7-b022-9e692f08b3dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/e45fdc42-1ab2-4be7-b022-9e692f08b3dd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/0a640fe6-066f-4b06-b439-1c925cf91719.html" target="element"> Virtual or Physical Device </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a8986c48-d16e-4dcd-a516-89c3482acda7.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8986c48-d16e-4dcd-a516-89c3482acda7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/a8902dae-49b6-4074-8661-ffa6108bc71c.html" target="element"> [Pattern Master] Server Node </a> </td>
																		<td> <a href="../elements/2569b27e-ee6f-4097-aca4-e57249985db8.html" target="element"> Operating System Image  </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>